@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'highlight.js/styles/github-dark.css';


:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.min-h-screen {
  min-height: 100vh;
}

.grid-pattern {
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.12) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.12) 1px, transparent 1px);
  background-size: 100px 100px;
}

.btn {
  @apply bg-blue-900 hover:bg-blue-950 text-white font-bold py-2 px-6 rounded-full transition duration-300;
}

.section-heading {
  @apply text-4xl font-bold mb-8 text-center relative;
}

.section-heading::after {
  content: '';
  @apply absolute bottom-0 left-1/2 w-20 h-1 bg-blue-500 transform -translate-x-1/2;
}

